<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css" media="screen">
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
    <title>Votar</title>
</head>
<body>
    <header>

    </header>
    <main>
        <section>
            <article>
                <p>
                    <a href="http://127.0.0.1:5000">VOTAR</a>
                </p>
            </article>
        </section>
    </main>
    <footer>
        <p>Criado por <a href="github.com/wyeels">Wesley Xavier</a></p>
    </footer>
</body>
</html>