@import "UTF-8";
@import url("https://use.typekit.net/slw5kkj.css");

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --cor1: #B98850;
    --cor2: #5A3C1F;
    --cor3: #351903;

    --font-princ: "fraunces-variable", sans-serif;;
}

body, html {
    background-color: var(--cor1);
    scroll-behavior: smooth;
}

header {
    width: 100dvw;
    height: 630px;
    margin-bottom: 15px;
    background-color: var(--cor1);
    background: var(--cor2) url("imagem-fundo2.png") center center fixed no-repeat;
    background-size: cover;
    font-family: var(--font-princ);
    color: rgba(255, 255, 255, 0.88);
    box-shadow: 2px 2px 12px var(--cor3);
}

header > section {
    
}

header > section > article {
    font-size: .8em;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    padding: 6px;
    
}

main {
    width: 100dvw;
    padding: 80px;
    background: var(--cor2) url("imagem-fundo2.jpg") center center fixed no-repeat;
    background-size: cover;
    font-family: var(--font-princ);
    color: white;
}